<%= simple_form_for(@calendario) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :campus, prompt: 'Selecione um câmpus.', label: 'Câmpus' if can? :manage, Campus %>
      <%= f.input :nome %>
      <%= f.input :vigencia %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Salvar', class: 'btn btn-primary' %>
    </div>
<% end %>
