<p id="notice"><%= notice %></p>

<p>
  <strong>Campus:</strong>
  <%= @calendario.campus %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @calendario.nome %>
</p>

<p>
  <strong>Vigencia:</strong>
  <%= @calendario.vigencia %>
</p>

<%= link_to 'Edit', edit_calendario_path(@calendario) %> |
<%= link_to 'Back', calendarios_path %>
