<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h1 class="pull-left">Listagem de câmpus</h1>

    <div class="pull-right">
      <%= link_to new_campus_path, class: 'btn btn-link btn-lg' do %>
          <i class="glyphicon glyphicon-plus"></i>
      <% end %>
    </div>
  </div>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th class="config">
        <i class="glyphicon glyphicon-cog"></i>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @campi.each do |campus| %>
        <tr>
          <td><%= campus.nome %></td>
          <td><%= campus.sigla %></td>
          <td class="text-nowrap">
            <%= link_to edit_campus_path(campus), class: 'btn btn-xs btn-info' do %>
                <i class="glyphicon glyphicon-edit"></i>
            <% end %>

            <%= link_to campus, method: :delete, data: {confirm: "Deseja realmente excluir o campus #{campus.sigla}?"}, class: 'btn btn-xs btn-danger' do %>
                <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>