<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @campus.nome %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @campus.sigla %>
</p>

<%= link_to 'Edit', edit_campus_path(@campus) %> |
<%= link_to 'Back', campi_path %>
