<%= simple_form_for(@evento, url: @evento.new_record? ? calendario_eventos_path(@calendario) : nil, form_html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :evento_tipo, input_html: {:'ng-model' => 'evento.evento_tipo'} %>
    <%= f.input :inicio %>
    <%= f.input :fim %>
    <%= f.input :dia_semana %>
    <%= f.input :descricao %>
  </div>
    <pre>{{evento|json}}</pre>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
