<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h1 class="pull-left">
      <%= link_to calendarios_path, class: 'btn btn-back' do %>
          <i class="glyphicon glyphicon-chevron-left"></i>
      <% end %>
      Eventos do calendário <%= @calendario %>
    </h1>

    <div class="pull-right">
      <%= link_to new_calendario_evento_path, class: 'btn btn-link btn-lg' do %>
          <i class="glyphicon glyphicon-plus"></i>
      <% end %>
    </div>
  </div>
  <% if @eventos.any? %>
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Evento tipo</th>
          <th class="text-center">Data</th>
          <th class="config">
            <i class="glyphicon glyphicon-cog"></i>
          </th>
        </tr>
        </thead>

        <tbody>
        <% @eventos.each do |evento| %>
            <tr>
              <td><%= evento.evento_tipo.to_s + (evento.evento_tipo.tem_dia_semana ? " (#{evento.dia_semana_nome})" : '') %></td>
              <% if evento.inicio == evento.fim %>
                  <td class="text-center"><%= evento.inicio.strftime '%d/%m/%Y' %></td>
              <% else %>
                  <td class="text-center"><%= evento.inicio.strftime '%d/%m/%Y' %> - <%= evento.fim.strftime '%d/%m/%Y' %></td>
              <% end %>
              <td class="text-nowrap">
                <%= link_to calendario_evento_path(@calendario, evento), class: 'btn btn-xs btn-success', data: {toggle: 'tooltip', placement: 'top'}, title: 'Visualizar' do %>
                    <i class="glyphicon glyphicon-list"></i>
                <% end %>
                <%= link_to edit_calendario_evento_path(@calendario, evento), class: 'btn btn-xs btn-primary', data: {toggle: 'tooltip', placement: 'top'}, title: 'Editar' do %>
                    <i class="glyphicon glyphicon-edit"></i>
                <% end %>
                <%= link_to [@calendario, evento], method: :delete, class: 'btn btn-xs btn-danger', data: {confirm: 'Deseja realmente remover este evento?', toggle: 'tooltip', placement: 'top'}, title: 'Eventos' do %>
                    <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

  <% else %>
      <div class="alert alert-info no-margin">
        Nenhum evento cadastrado.
      </div>
  <% end %>
</div>
