<p id="notice"><%= notice %></p>

<h1>Listing Evento Tipos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evento_tipos.each do |evento_tipo| %>
      <tr>
        <td><%= evento_tipo.nome %></td>
        <td><%= link_to 'Show', evento_tipo %></td>
        <td><%= link_to 'Edit', edit_evento_tipo_path(evento_tipo) %></td>
        <td><%= link_to 'Destroy', evento_tipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento tipo', new_evento_tipo_path %>
