<%= simple_form_for(@usuario) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :nome %>
      <%= f.input :login %>

      <% if @usuario.new_record? %>
          <%= f.input :senha, as: :password %>
          <%= f.input :senha_confirmation, as: :password, label: 'Confirmação de senha' %>
      <% end %>
      <% unless @usuario.new_record? %>
          <%= f.input :ativo %>
      <% end %>
      <%= f.input :admin %>
      <%= f.association :campus, prompt: 'Selecione um câmpus.', label: 'Câmpus' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Salvar', class: 'btn-primary' %>
    </div>
<% end %>
